* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.box_pomodoro {
  background-color: black;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  font-size: 50px;
  border: 1px solid #fff;
  padding: 10px;
}
.btn {
  margin-top: 20px;
  padding: 10px;
}
